
#root {
  width: 100%;
  /*max-width: min(1280px, calc(100% - 4rem));*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.page{
  width: 100%
}

.after-root{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 68px);
}

.vert-navbar{
  width: 133px;
  height: 100%;
  background-color: #EEF2F4;
  box-sizing: border-box;
  padding-top: 80px;
}

.vert-navbar-item{
  width: 100%;
  height: 92px;
  color: #8491A4;
  background-color: #EEF2F4;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 40px;
  box-sizing: border-box;
}

.vert-navbar-item-content-container{
  display: flex;
  flex-direction: column;
}

.vert-navbar-item p{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.vert-navbar-item p:nth-child(2){
  margin-top: 4px;
}

.vert-navbar-item.chosen{
  background-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 35px; 
}

.vert-navbar-item.chosen.batttime{
  border-left-color: #0076A4; 
  color: #0076A4;
}

.vert-navbar-item.chosen.battsize{
  border-left-color: #B81668;
  color: #B81668;
}

/*-------------------------------------------------------------*/

.data-entry-container{
  width: 460px;
  display: flex;
  color: #535C69;
  flex-direction: column;
}

.numbered-header{
  background-color: #EEF2F4;
  display: flex;
  flex-direction: row;
}

.numbered-header p{
  margin: 0;
  color: #535C69;
  font-weight: 500;
  font-size: 20px;
  padding-left: 5px;
}

.number-box{
  width: 30px;
  height: 30px;
  color: #EEF2F4;
  font-size: 20px;
  font-weight: 800;
}

.data-entry-table{
  width: 460px;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #EEF2F4;
  font-weight: 400;
  font-size: 15px;
}

.data-entry-table tr {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.data-entry-table tr td:first-child{
  padding-left: 10px;
  flex: 1;
}

.data-entry-table tr td:nth-child(2){
  padding: 0 30px 0 20px;
  flex: 1;
}

.data-entry-table tr td:nth-child(3){
  flex: 1;
}

.data-entry-table tr td label{
  height: 30px;
}


.data-entry-table input{
  width: 128px;
}

.data-entry-power-container{
  padding-bottom: 15px;
  background-color: #EEF2F4;
}

.data-entry-power{
  margin: 0 10px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #8491A4;
}

.data-entry-power div:nth-child(1){
  text-align: left;
  flex: 1;
}
.data-entry-power div:nth-child(2){
  text-align: right;
  flex: 1;
}

.data-entry-submit-button{
  border-style: none;
  padding: 8px 15px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #AED72F;
  color: #EEF2F4;
  font-size: 16px;
  font-weight: 700;
  flex: 1;

  display: flex;
  flex-direction: row;

  cursor: pointer;
}

.data-entry-submit-button:hover{

}

.data-entry-submit-button:active{
  border-top: 2px #637a1e solid;
  padding: 8px 15px 6px 15px;
}

.data-entry-submit-button:disabled {
  background-color: #c9df89;
  color: #ffffff;
  pointer-events: none;
}

.data-entry-submit-button div{
  align-self: center;
  padding-left: 18px;
  flex: 1;
}

/*-------------------------------------------------------------*/

.battsize-results-container{
  margin: 0 0 0 30px;
  width: 812px;
  height: 772px;
  display: flex;
  color: #535C69;
  flex-direction: column;
}

.battsize-table-container{
  width: 100%;
  height: 662px;
  box-sizing: border-box;
  border: 1px solid #EEF2F4;
  border-top: none;
  overflow-y: scroll;
}

.battsize-table{
  width: 794px;
  box-sizing: border-box;
  border-collapse: collapse;
  
  font-weight: 400;
  font-size: 15px;
}

.battsize-table th{
  height: 30px;
  background-color: #8491A4;
  color: #EEF2F4;
  font-size: 15px;
  font-weight: 600;
  position: sticky;
  top: -1px;
}

.battsize-table tr{
  height: 30px;
}

.battsize-table tr:hover td{
  background-color: #EEF2F4;
}

.battsize-table tr.highlight td{
  background-color: #B81668;
  color: #EEF2F4;
}

.battsize-table td{
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px #8491A4 dotted;
  border-right: 1px #EEF2F4 solid;
}

/*-------------------------------------------------------------*/

.battsize-page-header{
  height: 40px;
  color: #B81668;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: row;

  margin: 20px 0 0 30px;
}

.battsize-page-header p{
  margin: 0;
  line-height: 1em;
  margin-right: 15px;
}

.battsize-page-header img{
  padding-top: 2px;
}

.battsize-page-container{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 0 30px;
  display: flex;
  flex-direction: row;
}

/*-------------------------------------------------------------*/

.choose-batt-container{
  width: 460px;
}

.multiple-choice-container{
  flex: 1;
}

.multiple-choice-header{
  color: #EEF2F4;
  background-color: #8491A4;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.multiple-choice-list-container{
  height: 360px;
  border: 1px #EEF2F4 solid;
  color: #535C69;
  border-right: none;
  overflow-y: auto;
}

.multiple-choice-list-container:nth-child(n){
  border-right: 1px #EEF2F4 solid;
}

.multiple-choice-list-table{
  border-collapse: collapse;
}

.multiple-choice-list-table td{
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px #8491A4 dotted;
}

.multiple-choice-list-table td.header{
  text-align: left;
  border-bottom: 2px #8491A4 solid;
  font-size: 15px;
  font-weight: 500;
}
/*-------------------------------------------------------------*/

.batttime-results-container{
  margin: 0 0 0 30px;
  width: 812px;
  height: 772px;
  display: flex;
  color: #535C69;
  flex-direction: column;
}

.batttime-table-container{
  width: 100%;
  height: 662px;
  box-sizing: border-box;
  border: 1px solid #EEF2F4;
  border-top: none;
  overflow-y: scroll;
}

.batttime-table{
  width: 794px;
  box-sizing: border-box;
  border-collapse: collapse;
  
  font-weight: 400;
  font-size: 15px;
}

.batttime-table th{
  height: 30px;
  background-color: #8491A4;
  color: #EEF2F4;
  font-size: 15px;
  font-weight: 600;
  position: sticky;
  top: -1px;
}

.batttime-table tr{
  height: 30px;
}

.batttime-table tr:hover td{
  background-color: #EEF2F4;
}

.batttime-table tr.highlight td{
  background-color: #0076A4;
  color: #EEF2F4;
}

.batttime-table td{
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px #8491A4 dotted;
  border-right: 1px #EEF2F4 solid;
}

/*-------------------------------------------------------------*/

.batttime-page-header{
  height: 40px;
  color: #0076A4;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: row;

  margin: 20px 0 0 30px;
}

.batttime-page-header p{
  margin: 0;
  line-height: 1em;
  margin-right: 15px;
}

.batttime-page-header img{
  padding-top: 2px;
}

.batttime-page-container{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0 0 30px;
  display: flex;
  flex-direction: row;
}
/*-------------------------------------------------------------*/

.adinfo-card-container{
  width: 255px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
}


.adinfo-card-details-header{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.adinfo-card-details-header p{
  margin: 0;
  flex: 1;
  padding-right: 46px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.adinfo-card-details-header img{
  padding: 6px 0 0 20px;
}

.adinfo-card-details-container{
  width: 255px;
  height: 454px;
  box-sizing: border-box;
  padding: 0 20px 30px 20px;
  background-color: #EEF2F4;
}

.adinfo-card-details-names{
  display: flex;
  flex-direction: row;
}

.adinfo-card-details-names img{
  margin: 10px 0 0 0;
}


.adinfo-card-details-names div{
  margin: 10px 0 0 20px;
}

.adinfo-card-details-names div p{
  margin: 0;
  color: #0076A4;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2em;
}

.adinfo-card-details-names div p:nth-child(1){
  font-size: 20px;
  font-weight: 700;
}

.adinfo-card-details{
  color: #535C69;
}

.adinfo-card-details:nth-child(3){
  color: #535C69;
  margin-top: 10px;
}

.adinfo-card-details p{
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.adinfo-card-details table{
  width: 100%;
  border-collapse: collapse;
}

.adinfo-card-details table td{
  height: 20px;
  padding: 0 0 1px 0;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px #8491A4 dotted;
}

.adinfo-card-details table td:nth-child(1){
  text-align: left;
}

.adinfo-card-details table td:nth-child(2){
  text-align: right;
}

.datasheet-link-button{
  border-style: none;
  padding: 8px 15px;
  border-radius: 8px;
  /*margin-top: 20px;*/
  background-color: #AED72F;
  color: #EEF2F4;
  font-size: 16px;
  font-weight: 700;
  flex: 1;

  display: flex;
  flex-direction: row;

  cursor: pointer;
}

.datasheet-link-button:active{
  border-top: 2px #637a1e solid;
  padding: 8px 15px 6px 15px;
}

.datasheet-link-button div{
  align-self: center;
  padding-left: 18px;
  flex: 1;
}

.datasheet-link-button:disabled {
  background-color: #c9df89;
  color: #ffffff;
  pointer-events: none;
}
/*-------------------------------------------------------------*/

.adinfo-card-summary-main-container{
  margin-top: 20px;
}

.adinfo-card-summary-header{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.adinfo-card-summary-header p{
  margin: 0;
  flex: 1;
  padding-right: 44px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}

.adinfo-card-summary-header img{
  padding: 6px 0 0 24px
}

.adinfo-card-summary-container{
  width: 255px;
  height: 224px;
  box-sizing: border-box;
  padding: 0 20px 30px 20px;
  background-color: #EEF2F4;
  display: flex;
  flex-direction: column;
}

.adinfo-card-summary-container table{
  width: 100%;
  border-collapse: collapse;
}

.adinfo-card-summary-container table tr {
  display: flex;
  flex-direction: row;
}

.adinfo-card-summary-container table td{
  height: 40px;
  padding: 0 0 1px 0;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px #8491A4 dotted;
  line-height: 40px;
}

.adinfo-card-summary-container table td img{
  padding: 7px 0 0 0;
}

.adinfo-card-summary-container table td:nth-child(2){
  padding-left: 20px;
  text-align: left;
  flex: 1;
}

.adinfo-card-summary-container table td:nth-child(3){
  text-align: right;
}

.adinfo-card-summary-curreny-select {
  appearance: none;
  width: 76px;
  height: 30px;
  color: #BBED21;
  background-color: #8491A4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  padding: 2px 0 0 10px;
  box-sizing: border-box;
  cursor: pointer;

  background-image: url('/assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 13px 13px; /* Arrow size */
}


/*-------------------------------------------------------------*/
.yellow{
  background-color: #FEC909;
}

.maroon{
  background-color: #B81668;
}

.cyan{
  background-color: #0076A4;
}

.hide-td{
  display: none;
}

.button-container{
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.small-info-container{
  margin-top: 10px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
  color: #535C69;
}

.small-info-container p{
  margin: 0 0 0 7px;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  line-height: 12.1px;
}


/*-------------------------------------------------------------*/

.chart-container{
  width: 700px;
  height: 700px;
}

/*.table{
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table.form tr{
  border-bottom: 1px solid;
  border-color: #69aeb3;
}


.table.form tr.light-blue-bg{
  border-bottom: none;
}

.light-blue-bg{
  background-color: #dcf1f2;
}

.table.lined tbody tr:nth-child(odd){
  background-color: #edf9fa;
}

.table.lined tbody tr:nth-child(even){
  background-color: #dcf1f2;
}

.table-header th{
  background-color: #aee7eb;
  color: #0b454d;
  border-bottom: 3px solid;
  border-color: #69aeb3;
  padding: 10px 10px;
}

/*.table-header th:hover{
  background-color: #91fae7;
  color: #0b454d;
  border-bottom: 3px solid;
  border-color: #91fae7;
  padding: 10px 10px;
}

.table td{
  padding: 8px 10px;
} */

.td-left{
  text-align: left;
}

.number-input{
  width: 70px;
}

.horizontal-scroll{
  overflow-x: auto;
}

.vertical-scroll{
  overflow-y: auto;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-light-blue{
  border-style: solid;
  border-color: #69aeb3;
}

.border-light{
  border-width: 1px;
}

.border-medium{
  border-width: 3px;
}

.border-thick{
  border-width: 5px;
}

.underline{
  border-bottom: 5px solid #69aeb3;
}





/*.box{
  display: block;
  box-sizing: border-box;
}

.blue-bg {
  background-color: #aee7eb;
  color: #0b454d;
}


.multiple-choice-header{
  margin: 0;
  padding: 10px;
}

.multiple-choice-card{
  min-width: 150px;
  height: 410px;
}

.multiple-choice-list-container{
  height: calc(100% - 53.08px);
}

.multiple-choice-list-header{
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  border-bottom: 2px solid #69aeb3;
}

.multiple-choice-list-table .multiple-choice-list-header:nth-child(1){
  padding-top: 0;
}

.multiple-choice-list-answer-label{
  text-align: left;
}
*/


.flex{
  display: flex;
}

.flex .col{
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aee7eb;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #0b454d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #dcf1f2;
}


