
#root {
  max-width: min(1280px, calc(100% - 4rem));
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table{
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table.form tr{
  border-bottom: 1px solid;
  border-color: #69aeb3;
}


.table.form tr.light-blue-bg{
  border-bottom: none;
}

.light-blue-bg{
  background-color: #dcf1f2;
}

.table.lined tbody tr:nth-child(odd){
  background-color: #edf9fa;
}

.table.lined tbody tr:nth-child(even){
  background-color: #dcf1f2;
}

.table-header th{
  background-color: #aee7eb;
  color: #0b454d;
  border-bottom: 3px solid;
  border-color: #69aeb3;
  padding: 10px 10px;
}

.table-header th:hover{
  background-color: #91fae7;
  color: #0b454d;
  border-bottom: 3px solid;
  border-color: #91fae7;
  padding: 10px 10px;
}

.table td{
  padding: 8px 10px;
}

.td-left{
  text-align: left;
}

.number-input{
  width: 70px;
}



.horizontal-scroll{
  overflow-x: auto;
}

.vertical-scroll{
  overflow-y: auto;
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.border-light-blue{
  border-style: solid;
  border-color: #69aeb3;
}

.border-light{
  border-width: 1px;
}

.border-medium{
  border-width: 3px;
}

.border-thick{
  border-width: 5px;
}

.underline{
  border-bottom: 5px solid #69aeb3;
}



.box{
  display: block;
  box-sizing: border-box;
}

.blue-bg {
  background-color: #aee7eb;
  color: #0b454d;
}


.multiple-choice-header{
  margin: 0;
  padding: 10px;
}

.multiple-choice-card{
  min-width: 150px;
  height: 410px;
}

.multiple-choice-list-container{
  height: calc(100% - 53.08px);
}

.multiple-choice-list-header{
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  border-bottom: 2px solid #69aeb3;
}

.multiple-choice-list-table .multiple-choice-list-header:nth-child(1){
  padding-top: 0;
}

.multiple-choice-list-answer-label{
  text-align: left;
}


.flex{
  display: flex;
}

.flex .col{
  flex-direction: column;
}